$color: #000;
$match-color: #69030a;
$percent-center: 50%;

.block {
  $size: 15px;
  width: $size;
  height: $size;
  box-sizing: border-box;
  border: 2px solid $color;
  opacity: 0.1;
  position: relative;
  background-color: #f5f5f5;

  &::before {
    content: "";
    $size: 9px;
    width: $size;
    height: $size;
    background: $color;
    position: absolute;
    top: $percent-center;
    left: $percent-center;
    transform: translate(-$percent-center, -$percent-center);
  }

  &_active {
    opacity: 0.9;
  }

  &_matched {
    animation: match 0.1s linear 6 alternate forwards;
  }

  &_matched::before {
    animation: match-before 0.1s linear 6 alternate forwards;
  }
}

@keyframes match {
  0% {
    border-color: $match-color;
    opacity: 0.9;
  }

  100% {
    opacity: 0.1;
    border-color: $color;
  }
}

@keyframes match-before {
  0% {
    background: $match-color;
  }

  100% {
    background: $color;
  }
}
