$color-dark: #000;
$color-light: #f5f5f5;
$match-color: #69030a;

@mixin sqr-size($value) {
  width: $value;
  height: $value;
  border: (0.12 * $value) solid $color-dark;

  &::before {
    border: (0.09 * $value) solid $color-light;
  }
}

.block {
  @include sqr-size(16px);
  opacity: 0.1;
  box-sizing: border-box;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color-dark;
  }

  &_active {
    opacity: 0.9;
  }

  &_matched {
    animation: match 0.1s linear 6 alternate forwards;
  }

  &_matched::before {
    animation: match-before 0.1s linear 6 alternate forwards;
  }
}

@keyframes match {
  0% {
    border-color: $match-color;
    opacity: 0.9;
  }

  100% {
    opacity: 0.1;
    border-color: $color-dark;
  }
}

@keyframes match-before {
  0% {
    background-color: $match-color;
  }

  100% {
    background-color: $color-dark;
  }
}
