.app {
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    0deg,
    rgba(67, 78, 128, 0.3) 0%,
    rgba(173, 203, 218, 0.4) 21%,
    rgba(215, 241, 242, 0.4) 100%
  );
} 
