@mixin font {
  font: {
    family: Arial, "Helvetica Neue", sans-serif;
    style: normal;
    weight: normal;
    size: 18px;
  }
  line-height: 22px;
  color: #000;
}

.footer {
  max-width: 800px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  flex-shrink: 1;

  @media screen and (max-width: 1048px) {
    padding: 10px 50px;
  }

  &__copyright {
    @include font;
  }
}
