.play-area {
  position: relative;

  &__list {
    list-style: none;
    display: grid;
    margin: 0;
    padding: 1.5px;
    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(10, 1fr);
    row-gap: 1.5px;
    column-gap: 1.5px;
    outline: 1.5px solid #000;
    box-sizing: border-box;
  }

  &__cover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #c8c8c8;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
  }

  &__pause {
    visibility: visible;
    animation: blink 1s linear infinite;
  }

  &__start {
    text-align: center;
  }

  &__end {
    text-align: center;
  }
}

@keyframes blink {
  0% {
    visibility: visible;
  }

  60% {
    visibility: hidden;
  }

  100% {
    visibility: hidden;
  }
}
