.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px 15px;
  border: 5px solid rgba(0, 0, 0, 0.9);

  &__title {
    font: {
      family: Arial, "Helvetica Neue", sans-serif;
      style: normal;
      weight: 500;
      size: 28px;
    }
    line-height: 30px;
    margin: 0;
    padding: 0 15px;
    transform: translateY(-22px);
    background-color: #afbcc9;
  }
}

.screen {
  display: flex;
  background-color: #c8c8c8;
  padding: 10px;
  box-sizing: border-box;
  outline: 1px solid rgba(0, 0, 0, 0.5);
}
